/* ========== ESTILOS GENERALES ========== */
body {
  background-color: #F5FDFF;
  font-family: 'Quicksand', sans-serif; }

.img {
  margin-left: 20px;
  margin-right: 20px;
  width: 270px;
  height: 280px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; }

.bordes {
  border-radius: 8px; }

/* ========== SECCIONES ========== */
/* HOME */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  margin-bottom: 140px; }

.info-1 {
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  grid-template-rows: repeat(3, max-content); }

/* SOBRE MI */
#sobre-mi {
  padding-top: 20px;
  padding-bottom: 120px;
  background-image: url(../img/bg-sobre-mi.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.seccion-2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center; }

.info-2 {
  display: grid;
  grid-template-rows: max-content;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px; }

/* SKILLS */
#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px; }

.iconos-skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.iconos-skills {
  margin: 20px;
  width: 88px;
  height: 88px; }

/* PORTFOLIO */
#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bg-portfolio.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px; }

.portfolio-container {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 150px 150px 150px 150px 150px 150px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px; }

.portfolio-items-containers {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: #F5FDFF;
  transition: all ease-in-out 500ms; }
  .portfolio-items-containers:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; }

/* CONTACTO */
#contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0C7162;
  padding-top: 60px;
  padding-bottom: 80px; }

.container-formulario {
  margin-top: 40px; }

/* FOOTER */
#footer {
  background-color: #0B4A41;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  justify-items: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px; }

/* ========== TEXTOS ========== */
.textos-home {
  color: #0EB29A;
  font-size: 20px;
  font-weight: 200; }

.texto-sobre-mi {
  color: #F5FDFF;
  font-size: 16px;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.43); }

.texto-footer {
  color: #F5FDFF;
  font-size: 16px;
  font-weight: 100;
  text-decoration: none; }

.texto-footer-2 {
  font-weight: 100;
  font-style: oblique;
  transition: all ease-in-out 3s; }
  .texto-footer-2:hover {
    text-decoration: underline;
    color: #F5FDFF; }

/* ========== TITULOS ========== */
.titulo-home {
  color: #0EB29A;
  font-size: 2em;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.43);
  margin-bottom: 20px; }

.titulo-sobre-mi-1 {
  color: #F5FDFF;
  font-weight: 100;
  font-size: 20px;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.43);
  margin-top: 40px; }

.titulo-sobre-mi-2 {
  color: #F5FDFF;
  font-size: 28px;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.43); }

.titulo-skills {
  font-size: 2em;
  text-align: center;
  padding-bottom: 40px; }

.titulo-portfolio {
  font-size: 2em;
  text-align: center;
  margin-bottom: 40px; }

.titulo-contacto {
  font-size: 2em;
  color: #F5FDFF;
  text-align: center;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.7); }

/* ========== BOTONES ========== */
.botones {
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-weight: 500;
  padding: 10px 20px;
  transition: all ease-in-out 300ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset, rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }
  .botones:hover {
    background-color: #F5FDFF;
    color: #0B4A41;
    border: solid 1px;
    text-shadow: none; }

.boton-home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: min-content;
  justify-self: center;
  align-self: center;
  margin-top: 40px; }
  .boton-home-container:hover {
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.8); }

.boton-home {
  text-decoration: none;
  color: #F5FDFF;
  background-color: #0EB29A;
  padding: 16px 24px;
  text-shadow: none;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px;
    
 */
  display: flex;
  flex-wrap: wrap; }

.botones-sobre-mi {
  display: flex;
  justify-content: center; }

.boton-sobre-mi {
  color: #F5FDFF;
  background-color: #0B4A41;
  padding: 20px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 280px;
  justify-self: center; }

.boton-contacto {
  background-color: #0B4A41;
  color: #F5FDFF;
  width: 200px;
  margin-top: 40px; }

/* ========== ICONOS ========== */
.iconos {
  width: 48px;
  height: 48px; }

.iconos-sobre-mi {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px; }

.iconos-skils-container {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.iconos-skills {
  margin-left: 28px;
  margin-right: 28px; }

.iconos-footer {
  margin-left: 10px;
  margin-right: 10px; }

@media screen and (min-width: 320px) {
  .titulo-sobre-mi-1 {
    font-size: 18px; }
  .titulo-sobre-mi-2 {
    font-size: 24px; }
  .texto-sobre-mi {
    font-size: 14px; } }

@media screen and (min-width: 375px) {
  .boton-contacto {
    width: 240px; } }

@media screen and (min-width: 425px) {
  .img {
    width: 280px;
    height: 300px; }
  .boton-contacto {
    width: 280px; } }

@media screen and (min-width: 475px) {
  .img {
    width: 300px;
    height: 320px; }
  .titulo-home {
    font-size: 40px; }
  .textos-home {
    font-size: 24px; }
  .titulo-sobre-mi-1 {
    font-size: 24px; }
  .titulo-sobre-mi-2 {
    font-size: 32px; }
  .texto-sobre-mi {
    font-size: 20px; } }

@media screen and (min-width: 768px) {
  .img {
    width: 340px;
    height: 360px; }
  .titulo-home {
    font-size: 48px; }
  .textos-home {
    font-size: 32px; }
  .texto-sobre-mi {
    font-weight: 100; }
  .boton-home {
    font-size: 32px; }
  #portfolio {
    padding-bottom: 0px; }
  .portfolio-container {
    grid-template-columns: 300px 300px;
    grid-template-rows: 150px 150px 150px; }
  .iconos {
    width: 72px;
    height: 72px; }
  .boton-sobre-mi {
    width: 420px; }
  .boton-contacto {
    width: 300px; }
  #footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content; } }

@media screen and (min-width: 1024px) {
  .portfolio-container {
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 150px 150px; }
  .titulo-sobre-mi-1 {
    font-size: 28px; }
  .titulo-sobre-mi-2 {
    font-size: 36px; }
  .texto-sobre-mi {
    font-size: 20px; }
  .iconos-sobre-mi {
    margin-left: 20px; } }

@media screen and (min-width: 1440px) {
  .img {
    width: 390px;
    height: 440px;
    margin-left: 40px;
    margin-right: 80px; }
  .seccion-2 {
    padding-top: 100px;
    padding-bottom: 120px;
    flex-direction: row; }
  .info-2 {
    padding-top: 80px;
    margin-left: 80px;
    margin-right: 40px; }
  .texto-sobre-mi {
    margin-top: 20px; }
  .iconos-sobre-mi {
    margin-top: 20px; }
  .boton-sobre-mi {
    margin-top: 40px;
    width: 500px; }
  #portfolio {
    padding-top: 80px;
    padding-bottom: 120px; }
  #contacto {
    padding-top: 80px;
    padding-bottom: 80px; } }
