/* ========== ESTILOS GENERALES ========== */
body {
  background-color: #F5FDFF; }

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px; }

.img {
  margin-left: 80px;
  margin-right: 80px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

/* ========== SECCIONES ========== */
/* HOME */
#home {
  padding-top: 80px;
  margin-bottom: 80px; }

.seccion-1 {
  display: flex;
  flex-direction: row; }

/* SOBRE MI */
#sobre-mi {
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url(../img/bg-sobre-mi.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.seccion-2 {
  display: flex;
  flex-direction: row; }

/* SKILLS */
#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px; }

/* PORTFOLIO */
#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bg-portfolio.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px; }

.portfolio-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 350px 350px;
  grid-row-gap: 40px;
  grid-column-gap: 40px;
  margin-top: 40px; }

.portfolio-items-containers {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; }

/* CONTACTO */
#contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0C7162;
  padding-top: 80px;
  padding-bottom: 80px; }

.container-formulario {
  margin-top: 40px; }

/* FOOTER */
#footer {
  background-color: #0B4A41;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px; }

/* ========== TEXTOS ========== */
.textos-home {
  color: #0EB29A;
  font-size: 2em;
  font-weight: 200; }

.texto-sobre-mi {
  color: #F5FDFF;
  font-size: 20px;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.43); }

.texto-footer {
  color: #F5FDFF;
  font-size: 20px;
  text-decoration: none; }

/* ========== TITULOS ========== */
.titulo-home {
  color: #0EB29A;
  font-size: 3em;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.43); }

.titulo-sobre-mi-1 {
  color: #F5FDFF;
  font-weight: 100;
  font-size: 20px;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.43); }

.titulo-sobre-mi-2 {
  color: #F5FDFF;
  font-size: 2em;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.43); }

.titulo-skills {
  font-size: 2em;
  text-align: center;
  padding-bottom: 80px; }

.titulo-portfolio {
  font-size: 2em;
  text-align: center; }

.titulo-contacto {
  font-size: 2em;
  color: #F5FDFF;
  text-align: center;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.43); }

/* ========== BOTONES ========== */
.botones {
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset, rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }

.boton-sobre-mi {
  color: #F5FDFF;
  background-color: #0B4A41;
  padding: 20px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  width: 500px; }

.boton-contacto {
  background-color: #0B4A41;
  color: #F5FDFF;
  width: 300px;
  margin-top: 40px; }

/* ========== ICONOS ========== */
.iconos {
  width: 48px;
  height: 48px; }

.iconos-sobre-mi {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px; }

.iconos-skils-container {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.iconos-skills {
  margin-left: 28px;
  margin-right: 28px; }

.iconos-footer {
  margin-left: 20px;
  margin-right: 20px; }

/* ========== ANIMACIONES ========= */
.animate__animated animate__fadeIn {
  animation-timing-function: ease-in-out;
  animation-duration: 6s; }
