#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #0C7162;

    padding-top: 80px;
    padding-bottom: 80px;
}

.container-formulario {
    margin-top: 40px;
}