/* ========== ESTILOS GENERALES ========== */

@import "variables";

body {
    background-color: $color-principal;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
}

.img{
    margin-left: 80px;
    margin-right: 80px;
}