#footer {
    background-color: #0B4A41;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 40px;
}