

@media screen and (min-width: 320px) {
    .titulo-sobre-mi-1 {
        font-size: 18px;
    }

    .titulo-sobre-mi-2 {
        font-size: 24px;
    }

    .texto-sobre-mi {
        font-size: 14px
    }
}

@media screen and (min-width: 375px) {
    

    .boton-contacto {
        width: 240px;
    }
}

@media screen and (min-width: 425px) {
    .img {
        width: 280px;
        height: 300px;
    }

    .boton-contacto {
        width: 280px;
    }
}

@media screen and (min-width: 475px) {

    .img {
        width: 300px;
        height: 320px;
    }

    .boton-home-container {
        width: max-content;
    }

    .titulo-home {
        font-size: 40px;
    }

    .textos-home {
        font-size: 24px;
    }


    .titulo-sobre-mi-1 {
        font-size: 24px;
    }

    .titulo-sobre-mi-2 {
        font-size: 32px;
    }

    .texto-sobre-mi {
        font-size: 20px;
    }

}

@media screen and (min-width: 768px) {

    .img {
        width: 340px;
        height: 360px;
    }

    #home {
        background-image: none;
    }

    .titulo-home {
        font-size: 48px;
    }

    .textos-home {
        font-size: 32px;
    }

    .texto-sobre-mi {
        font-weight: 100;
    }

    .boton-home {
        font-size: 32px;
    }

    #portfolio {
        padding-bottom: 0px;
    }

    .portfolio-container {
        grid-template-columns: 300px 300px;
        grid-template-rows: 150px 150px 150px;
    }

    .iconos{
        width: 72px;
        height: 72px;
    }

    .boton-sobre-mi {
        width: 420px;
    }

    .boton-contacto {
        width: 300px;
    }

    #footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content;
    }
    
}

@media screen and (min-width: 1024px) {
    .portfolio-container {
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 150px 150px;
    }

    .seccion-2 {
        padding-top: 100px;
        padding-bottom: 120px;
        flex-direction: row;
    }

    .info-2 {
        padding-top: 40px ;
        margin-left: 80px;
        margin-right: 40px;
    }

    .titulo-sobre-mi-1 {
        font-size: 28px;
    }

    .titulo-sobre-mi-2 {
        font-size: 36px;
    }

    .texto-sobre-mi {
        font-size: 20px;
    }

}

@media screen and (min-width: 1440px) {

    .img {
        width: 390px;
        height: 440px;
        margin-left: 40px;
        margin-right: 80px;
    }

    .texto-sobre-mi {
        margin-top: 20px;
    }


    .iconos-sobre-mi{
        margin-top: 20px;
        margin-left: 20px;
    }

    .boton-sobre-mi {
        margin-top: 40px;
        width: 500px;
    }

    #portfolio {
        padding-top: 80px;
        padding-bottom: 120px;
    }

    #contacto {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}