#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../img/bg-portfolio.png);
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 80px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 350px 350px;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    

    margin-top: 40px;
}

.portfolio-items-containers{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}