/* ========== SECCIONES ========== */

@import "variables";

/* HOME */

#home{
    padding-top: 80px;
    margin-bottom: 80px;
}

.seccion-1{
    display: flex;
    flex-direction: row;
}



/* SOBRE MI */

#sobre-mi{
    padding-top: 160px;
    padding-bottom: 160px;

    background-image: url(../img/bg-sobre-mi.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion-2{
    display: flex;
    flex-direction: row;
}



/* SKILLS */

#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 80px;
    padding-bottom: 40px;
}



 /* PORTFOLIO */

 #portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../img/bg-portfolio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-top: 80px;
    padding-bottom: 80px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: 438px 438px 438px;
    grid-template-rows: 220px 220px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    

    margin-top: 40px;
}

.portfolio-items-containers{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: $color-principal;
    transition: all ease-in-out 500ms;

        &:hover {

            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        }
}




/* CONTACTO */

#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $color-secundario;

    padding-top: 80px;
    padding-bottom: 80px;
}

.container-formulario {
    margin-top: 40px;
}



/* FOOTER */

#footer {
    background-color: $color-terciario;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 40px;
}