/* ========== TEXTOS ========== */

@import "variables";

.textos-home{
    color: $color-textos-1;
    font-size: 2em;
    font-weight: 200;
}

.texto-sobre-mi{
    color: $color-principal;
    font-size: 20px;
}

.texto-footer {
    color: $color-principal;
    font-size: 20px;
    text-decoration: none;
}