/* ========== TITULOS ========== */

@import "variables";

.titulo-home {
    color: $color-textos-1;
    font-size: 3em;
}

.titulo-sobre-mi{
    text-align: center;
    font-size: 2em;
}

.titulo-sobre-mi-1{
    color: $color-principal;
    font-weight: 100;
    font-size: 20px;
}

.titulo-sobre-mi-2{
    color: $color-principal;
    font-size: 2em;
}

.titulo-skills{
    font-size: 2em;
    text-align: center;
    padding-bottom: 80px;
}

.titulo-portfolio{
    font-size: 2em;
    text-align: center;
}

.titulo-contacto{
    font-size: 2em;
    color: $color-principal;
    text-align: center;
}